src/main/mule/maylin_escenario2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:crypto="http://www.mulesoft.org/schema/mule/crypto" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/crypto http://www.mulesoft.org/schema/mule/crypto/current/mule-crypto.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd">
	<sftp:config name="SFTP_Config" doc:name="SFTP Config" doc:id="4e8fc9a9-2417-494d-838d-554038d2ab13" >
		<sftp:connection host="localhost" username="tester" password="password" />
	</sftp:config>
	<crypto:jce-config name="Crypto_Jce" doc:name="Crypto Jce" doc:id="b8959c32-9401-40b9-8496-cccfa66eb97a" keystore="encKeystore.jceks" type="JCEKS" password="123456" >
		<crypto:jce-key-infos >
			<crypto:jce-symmetric-key-info keyId="AnyKeyID" alias="jksvalue" password="123456" />
		</crypto:jce-key-infos>
	</crypto:jce-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="07f8b0e9-8701-4053-b329-2663ef3347b3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="273284b1-670a-499a-b53b-9f5405b5e281" >
		<db:generic-connection url=" jdbc:postgresql://localhost:5432/Escenario2" driverClassName="org.postgresql.Driver" user="postgres" password="postgres" />
	</db:config>
	<amqp:config name="AMQP_Config" doc:name="AMQP Config" doc:id="5ced55fb-e51d-4456-aa0b-00af7eb286e1" >
		<amqp:connection host="localhost" username="guest" password="guest" />
	</amqp:config>
	<flow name="maylin_escenario2Flow" doc:id="5df8e3d4-53b0-48eb-88a7-75039bd80e6b" >
		<sftp:listener doc:name="On New or Updated File" doc:id="1d29c075-3f45-4f60-af41-7e95423ff895" config-ref="SFTP_Config" outputMimeType="text/csv" watermarkEnabled="true" directory="/">
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES" />
			</scheduling-strategy>
			<sftp:matcher filenamePattern="homes.csv"/>
		</sftp:listener>
		<ee:transform doc:name="CSV to JSON" doc:id="c3513e56-1fa9-4f7f-bc7f-fd7a0cec7b2b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="maylin_escenario2Batch_Job" doc:id="150c81aa-5725-45ca-b27e-dfd8be59b649" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="118ebd4d-fab6-4d0e-a4cf-9263592d5b96" >
					<set-variable value='#["/Achivos Cifrados/home_"++ random() ++ ".txt"]' doc:name="Set Variable" doc:id="8d20220f-dcf9-4862-9db5-21ce9b94fa97" variableName="Nombre" />
					<crypto:jce-encrypt doc:name="Jce encrypt" doc:id="c665dc0b-dd13-4b90-9db2-37575871e7dd" algorithm="AES" config-ref="Crypto_Jce" keyId="AnyKeyID">
						<ee:repeatable-file-store-stream inMemorySize="1024" />
						<crypto:content ><![CDATA[#[output application/json
---
payload]]]></crypto:content>
					</crypto:jce-encrypt>
					<sftp:write doc:name="Write" doc:id="86bb279e-8c4e-41e6-a220-9f12531b5dca" config-ref="SFTP_Config" mode="CREATE_NEW" path="#[vars.Nombre]"/>
					<amqp:publish doc:name="Publish" doc:id="1663f167-81a4-4a06-8302-47ca0bcaebb2" config-ref="AMQP_Config" exchangeName="amq.topic">
						<amqp:message >
							<amqp:body ><![CDATA[#[output application/json
---
{
	
	"filename": vars.Nombre
}]]]></amqp:body>
						</amqp:message>
					</amqp:publish>
				
</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<logger level="INFO" doc:name="Logger" doc:id="db20f213-ce98-4fd5-9e3b-f0d22e0fbe38" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="fc37c4eb-6d8b-4767-bb35-dbfb07392593" type="AMQP:CREATION_NOT_ALLOWED, AMQP:EXCHANGE_NOT_FOUND, AMQP:ILLEGAL_BODY, AMQP:NO_CHANNEL_AVAILABLE, AMQP:PUBLISHING, AMQP:RETRY_EXHAUSTED, AMQP:UNROUTABLE_MESSAGE, CRYPTO:ENCRYPTION, CRYPTO:KEY, CRYPTO:MISSING_KEY, CRYPTO:PARAMETERS, SFTP:FILE_ALREADY_EXISTS, SFTP:FILE_LOCK, SFTP:ILLEGAL_CONTENT, SFTP:RETRY_EXHAUSTED, EXPRESSION, STREAM_MAXIMUM_SIZE_EXCEEDED">
				<logger level="INFO" doc:name="Logger" doc:id="65555c78-0d67-4eed-ae1a-ddc3039a0ac4" message="#[payload]"/>
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="398ddd2f-b369-4f42-b91d-e20b81601752" type="AMQP:CONNECTIVITY, SFTP:ACCESS_DENIED, SFTP:CONNECTIVITY, SFTP:ILLEGAL_CONTENT, SFTP:ILLEGAL_PATH">
				<logger level="INFO" doc:name="Logger" doc:id="2d51e5ef-7ef9-44a8-88d3-9621a5b6fa70" message="#[pyload]"/>
			</on-error-propagate>
		</error-handler>
	
</flow>
	<flow name="maylin_escenario2Flow1" doc:id="132eda9f-f7ba-48c0-af7d-795f41750f7d" >
		<amqp:listener doc:name="Listener" doc:id="8a21639c-1d6e-49aa-bda8-3a7de5a1762e" config-ref="AMQP_Config" queueName="homes"/>
		<sftp:read doc:name="Read" doc:id="0c19d41c-24d5-470a-b201-8970f0452777" config-ref="SFTP_Config" path="#[payload.filename]" />
		<crypto:jce-decrypt doc:name="Jce decrypt" doc:id="c8d0afaa-07bb-4bcc-96e8-d9b5a266f590" config-ref="Crypto_Jce" algorithm="AES" keyId="AnyKeyID" />
		<ee:transform doc:name="Transform Message" doc:id="b5ddc600-0ce7-465e-9ada-86edde841b23">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
input payload application/octet-stream
output application/json
---
read(payload, 'application/json')]]></ee:set-payload>
						</ee:message>
					</ee:transform>
		<db:insert doc:name="Insert" doc:id="00b8d17f-3bbd-493c-a926-9393d7b5c395" config-ref="Database_Config">
						<db:sql><![CDATA[INSERT INTO home(sell,list,living,rooms,beds,baths,age,acres,taxes)
VALUES (:sell,:list,:living,:rooms,:beds,:baths,:age,:acres,:taxes);]]></db:sql>
						<db:input-parameters><![CDATA[#[output application/json
---
{
	'sell': payload.Sell as Number,
	'list': payload.List as Number,
	'living': payload.Living as Number,
	'rooms': payload.Rooms as Number,
	'beds': payload.Beds as Number,
	'baths': payload.Baths as Number,
	'age': payload.Age as Number,
	'acres': payload.Acres as Number,
	'taxes': payload.Taxes as Number
}]]]></db:input-parameters>
					</db:insert>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="11f96af9-3af8-4f6d-84cd-a7c54a8e8ee9" type="DB:CONNECTIVITY, SFTP:ACCESS_DENIED, SFTP:CONNECTIVITY, SFTP:ILLEGAL_PATH">
				<logger level="INFO" doc:name="Logger" doc:id="a2a11b45-4e41-4119-a73c-18df39d16a88" message="#[payload]"/>
			</on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a0056672-74e2-458d-8301-a5f27ae150ee" type="CRYPTO:DECRYPTION, CRYPTO:KEY, CRYPTO:MISSING_KEY, CRYPTO:PARAMETERS, CRYPTO:PASSPHRASE, DB:BAD_SQL_SYNTAX, DB:QUERY_EXECUTION, DB:RETRY_EXHAUSTED, SFTP:FILE_LOCK, SFTP:ILLEGAL_PATH, SFTP:RETRY_EXHAUSTED, EXPRESSION, STREAM_MAXIMUM_SIZE_EXCEEDED">
				<logger level="INFO" doc:name="Logger" doc:id="c7696b24-2688-4e80-a7fb-41203af236fc" message="#[payload]"/>
			</on-error-continue>
		</error-handler>
	
</flow>

</mule>
